.course_list {
    border: 5px double black;
    padding: 5px;
}

.course_list div {
    border: 2px rgb(45, 45, 45) solid;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: cornsilk;
    margin: 15px 0px;
}


.tree-module {
    text-decoration: underline;
}

.tree-heading {
    padding-left: 20px;
}

.tree-points {
    padding-left: 60px;
}