<div class="nbar">
    <ul class="nav_links">
        <li><img src="{{ url_for('home.static', filename='icon.png') }}"></li>
        <li><a href="/" {% if current_nav == "home" %} style="text-decoration: underline;" {% endif %}>Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="/create/" {% if current_nav == "create" %} style="text-decoration: underline;" {% endif %}>Create</a></li>
            <li><a href="/revise/" {% if current_nav == "revise" %} style="text-decoration: underline;" {% endif %}>Revise</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        {% else %}
            <li><a href="/auth/login" {% if current_nav == "login" %} style="text-decoration: underline;" {% endif %}>Login</a></li>
            <li><a href="/auth/signup" {% if current_nav == "signup" %} style="text-decoration: underline;" {% endif %}>Signup</a></li>
        {% endif %}
    </ul>
</div>