.revise-input {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    /* display: inline; */
}

.revise-blank-input {
    margin-bottom: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    flex: 2;
}

.revise-input:focus {
    background-color: white;
}

.revise-input-correct {
    background-color: rgba(50, 205, 50, 0.3);
}

.revise-input-incorrect {
    background-color: rgba(255, 0, 0, 0.3);
}

.timer {
    /* position: -webkit-sticky; */
    /* position: sticky; */
    position:fixed;
    top: 20px;
    right: 20px;
    color: red;
    font-weight: bolder;
}