.footer {
    width: 100%;
    padding: 15px 5vw;
    background-color: rgb(45, 45, 45);
    color: white;
    font-weight: bold;
    /* Keeps logo in div */
    overflow: hidden;
}

.footer li a {
    text-decoration: none;
    color: inherit;
}

.footer li a:hover {
    color: red;
}

.footer_links {
    float: left;
}

.footer_logo {
    float: right;
    text-align: right;
    font-size: xx-large;
    padding-right: 5%;
    padding-top: 2%;
}