.nbar {
    background-color: rgb(45, 45, 45);
    padding: 10px;
}

.nbar ul {
    list-style-type: none;
    margin: 10px;
}

.nbar li {
    display: inline;
}

.nav_links a {
    padding: 20px;
    background-color: rgb(45, 45, 45);
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.nav_links a:hover {
    text-decoration: underline;
    font-style: italic;
    text-decoration: none;
    color: white;
}