{% extends "base.html" %}

{% block title %} Add Point {% endblock %}

{% block content %}

    <h1>Add Point under: "{{parent.text}}"</h1>
    <small class="text-muted">Course: "<i>{{course.name}}</i>"</small><br><br>
    <form method="POST">
        <div class="form-group">
            <label for="text">Point Text</label>
            <textarea name="text" id="text" class="form-control" placeholder="Enter the text..." required autofocus></textarea>
        </div>

        <div class="form-group">
            <label for="text">Hint</label>
            <input type="text" name="hint" id="hint" class="form-control" placeholder="Enter an optional hint...">
        </div>
       
        <div class="form-group" style="padding: 0px 15px;">
            <label style="padding-right: 15px;">Does this text have support for blank-fill? </label>
            <input type="radio" name="blank_fill" value="No" checked>
            <label for="blank_fill" style="padding-right: 15px;">No</label>
            <input type="radio" name="blank_fill" value="Yes">
            <label for="blank_fill" style="padding-right: 15px;">Yes</label>
            <br>
            <label style="padding-right: 15px;">Should this point use numeric points for children? </label>
            <input type="radio" name="numeric" value="No" checked>
            <label for="numeric" style="padding-right: 15px;">No</label>
            <input type="radio" name="numeric" value="Yes">
            <label for="numeric" style="padding-right: 15px;">Yes</label>
        </div>

        <input type="submit" value="Create" class="btn btn-outline-success">
    </form>

{% endblock %}