{% extends "base.html" %}

{% block title %} Creation Tree for {{ course.name }} {% endblock %}

{% block content %}

    <h1>"{{ course.name }}" - Creation Tree:</h1><br>

    <!-- Recursion Source: https://jinja.palletsprojects.com/en/3.0.x/templates/#python-methods -->

    <!-- {% for module in course.getModules() %}

        <h2 class="tree-module">{{ module.name }}:</h2>

        {% for heading in module.getHeadings() %}

            <h3 class="tree-heading">{{ heading.text }}:</h3>
            
            <ul class="tree-points">

                {% for node in heading.getPoints() %}

                    <li>{{ node.text }}</li>

                    {%- for item in node.getChildren() recursive %}

                        <ul>

                            <li>{{ item.text }}</li>
                            {%- if item.getChildren() | length > 0 -%}

                                {{ loop(item.getChildren()) }}

                            {%- else %}

                                <ul>
                                    <li><a href="/create/add_point?point={{item.id}}">Add Point</a></li>
                                </ul>

                            {%- endif %}</li>
                            <li><a href="/create/add_point?point={{node.id}}">Add Point</a></li>
                            
                        </ul>

                    {%- endfor %}
                    {% if not node.getChildren() %}
                        <ul>
                            <li><a href="/create/add_point?point={{node.id}}">Add Point</a></li>
                        </ul>
                    {% endif %}

                {% endfor %}
                <li><a href="/create/add_point?heading={{ heading.id }}">Add Point</a></li>

            </ul>

        {% endfor %}

        <h3 class="tree-heading"><a href="/create/add_heading?m={{ module.id }}">Add Heading</a></h3>
    
        <br><hr><br>
    {% endfor %}
    <h2 class="tree-module"><a href="/create/add_module">Add Module</a></h2> -->

    <!-- {% for module in course.getModules() %}

        <h2 class="tree-module">{{ module.name }}:</h2>

        {% for heading in module.getHeadings() %}

            <h3 class="tree-heading">{{ heading.text }}:</h3>
            
            <ul class="tree-points">

                {% for node in heading.getPoints() %}

                    <li>{{ node.text }}</li>

                    {% if node.numeric %}
                        <ol>
                    {% else %}
                        <ul>
                    {% endif %}
                    {%- for item in node.getChildren() recursive %}

                            <li>{{ item.text }}</li>
                            {%- if item.getChildren() | length > 0 -%}

                                {% if item.numeric %}
                                    <ol>
                                        {{ loop(item.getChildren()) }}
                                    </ol>
                                {% else %}
                                    <ul>
                                        {{ loop(item.getChildren()) }}
                                    </ul>
                                {% endif %}

                            {%- else %}

                                <ul>
                                    <li><a href="/create/add_point?point={{item.id}}">Add Point - Y</a></li>
                                </ul>

                            {%- endif %}</li>
                            
                            <li><a href="/create/add_point?point={{node.id}}">Add Point - N</a></li>
                    {%- endfor %}
                    
                    {% if not node.getChildren() %}
                        <li><a href="/create/add_point?point={{node.id}}">Add Point</a></li>
                    {% endif %}
                    {% if node.numeric %}
                        </ol>
                    {% else %}
                        </ul>
                    {% endif %}

                {% endfor %}
                <li><a href="/create/add_point?heading={{ heading.id }}">Add Point</a></li>

            </ul>

        {% endfor %}

        <h3 class="tree-heading"><a href="/create/add_heading?m={{ module.id }}">Add Heading</a></h3>
    
        <br><hr><br>
    {% endfor %}
    <h2 class="tree-module"><a href="/create/add_module">Add Module</a></h2> -->

    <!-- {% for module in course.getModules() %}

        <h2 class="tree-module">{{ module.name }}:</h2>

        {% for heading in module.getHeadings() %}

            <h3 class="tree-heading">{{ heading.text }}:</h3>

            <ul>
                {% for node in heading.getPoints() %}

                    <li>{{ node.text }}</li>

                    {% if node.numeric %}
                        <ol>
                    {% else %}
                        <ul>
                    {% endif %}

                        {%- for item in node.getChildren() recursive %}

                            <li>{{ item.text }}</li>

                            {% if item.getChildren() and item.numeric %}

                                <ol>
                                    {{ loop(item.getChildren()) }}
                                </ol>

                            {% elif item.getChildren() %}

                                <ul>
                                    {{ loop(item.getChildren()) }}
                                </ul>

                            {% else %}

                                <ul>    
                                    <li><a href="/create/add_point?point={{item.id}}">Add Child</a></li>
                                </ul>

                            {% endif %}
                            
                            <li><a href="/create/add_point?point={{item.id}}">Add Sibling</a></li>
                        {%- endfor %}

                    {% if node.numeric %}
                        </ol>
                    {% else %}
                        </ul>
                    {% endif %}

                {% endfor %}
                <li><a href="/create/add_point?heading={{ heading.id }}">Add Point</a></li>
            </ul>

        {% endfor %}
        <h3 class="tree-heading"><a href="/create/add_heading?m={{ module.id }}">Add Heading</a></h3>

        <br><hr><br>
    {% endfor %}
    <h2 class="tree-module"><a href="/create/add_module">Add Module</a></h2> -->

    {% macro level(node) -%}

        {% if node.numeric %}
            <ol>
        {% else %}
            <ul>
        {% endif %}

                <li>{{ node.text }}</li>

                {% for item in node.getChildren() %}

                    {{ level(item) }}

                {% else %}

                    <ul>
                        <li><a href="/create/add_point?point={{node.id}}">Add Child</a></li>
                    </ul>

                {% endfor %}
                <li><a href="/create/add_point?point={{node.id}}">Add Sibling</a></li>

        {% if node.numeric %}
            </ol>
        {% else %}
            </ul>
        {% endif %}

    {%- endmacro %}


    {% for module in course.getModules() %}

        <h2 class="tree-module">{{ module.name }}:</h2>

        {% for heading in module.getHeadings() %}

            <h3 class="tree-heading">{{ heading.text }}:</h3>

            <ul>
                {% for node in heading.getPoints() %}

                    <li>{{ node.text }}</li>
                    {{ level(node) }}
                    

                {% endfor %}
                <li><a href="/create/add_point?heading={{ heading.id }}">Add Point</a></li>
            </ul>

        {% endfor %}
        <h3 class="tree-heading"><a href="/create/add_heading?m={{ module.id }}">Add Heading</a></h3>

        <br><hr><br>
    {% endfor %}
    <h2 class="tree-module"><a href="/create/add_module">Add Module</a></h2>


{% endblock %}