{% extends "base.html" %}

{% block title %} Creation Tree for "{{ course.name }}" {% endblock %}

{% block content %}

    <h1>"{{ course.name }}" - Creation Tree:</h1><br>

    {% for module in course.getModules() %}
        
        <h2 class="tree-module" onclick="toggleMenu('m_{{module.id}}');">{{ module.code }}:</h2><small class="text-muted">{{ module.name }}</small><br><br>
        <div id="m_{{module.id}}" {% if m != module.id | string %} style="display: none;" {% endif %}>
            {% for heading in module.getHeadings() %}

                <h3 class="tree-heading" onclick="toggleMenu('h_{{heading.id}}');">{{ heading.text }}:</h3>
                <div id="h_{{heading.id}}" {% if h != heading.id | string %} style="display: none;" {% endif %}>
                    <ul>
                        {% for node in heading.getPoints() %}

                            <li onmouseenter="showMenu('s_{{node.id}}');" onmouseleave="hideMenu('s_{{node.id}}');" style="line-height: 40px;" id="{{node.id}}">
                                <span {% if node.disabled %} style="text-decoration: line-through; color: rgb(160, 160, 160);" {% endif %}>{{ node.question() }} <i style="color: grey;"> {{ node.answer() }} </i></span>
                                <span style="display: none" id="s_{{node.id}}">
                                    <button class="btn tree-btn" style="color: #007bff;" title="Add Child" onclick="showForm('{{ node.id }}', 'Add Child', 'point');">&#8626;</button>
                                    <button class="btn tree-btn" style="color: limegreen;" title="Add Sibling" onclick="showForm('{{ node.id }}', 'Add Sibling', 'heading');">&plus;</button>
                                    <button class="btn tree-btn" style="color: red;" title="Delete" onclick="showForm('{{ node.id }}', 'Delete', 'point');">&times;</button>
                                </span>
                            </li>


                            {% if node.numeric %}
                            <ol>
                            {% else %}
                            <ul>
                            {% endif %}
                            {%- for item in node.getChildren() recursive %}

                                    <li onmouseenter="showMenu('s_{{item.id}}');" onmouseleave="hideMenu('s_{{item.id}}');" style="line-height: 40px;" id="{{item.id}}">
                                        <span {% if item.isDisabled() %} style="text-decoration: line-through; color: rgb(160, 160, 160);" {% endif %}>{{ item.question() }} <i style="color: grey;"> {{ item.answer() }} </i></span>
                                        <span style="display: none" id="s_{{item.id}}">
                                            <button class="btn tree-btn" style="color: #007bff;" title="Add Child" onclick="showForm('{{ item.id }}', 'Add Child', 'point');">&#8626;</button>
                                            <button class="btn tree-btn" style="color: limegreen;" title="Add Sibling" onclick="showForm('{{ item.id }}', 'Add Sibling', 'point');">&plus;</button>
                                            <!-- <button class="btn tree-btn" style="color: red;" title="Delete" onclick="showForm('{{ item.id }}', 'Delete', 'point');">&times;</button> -->
                                            <button class="btn tree-btn" style="color: orange;" title="Edit" onclick="showForm('{{ item.id }}', 'Edit', 'point', {{ item.serialise() }})">&#9660;</button>
                                        </span>
                                    </li>

                                    {% if item.getChildren() %}
                                        {% if item.numeric %}
                                        <ol>
                                        {% else %}
                                        <ul>
                                        {% endif %}
                                            {{ loop(item.getChildren()) }}
                                        {% if item.numeric %}
                                        </ol>
                                        {% else %}
                                        </ul>
                                        {% endif %}
                                    {% endif %}

                            {%- endfor %}
                            {% if node.numeric %}
                            </ol>
                            {% else %}
                            </ul>
                            {% endif %}
                        {% else %}
                            <li>
                                <button class="btn tree-btn" style="color: #007bff;" title="Add Child" onclick="showForm('{{ heading.id }}', 'Add Child', 'heading');">&#8626;</button>
                                <button class="btn tree-btn" style="color: red;" title="Delete" onclick="showForm('{{ heading.id }}', 'Delete', 'heading');">&times;</button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {% endfor %}
            <h3 class="tree-heading"><a href="/create/add_heading?m={{ module.id }}">Add Heading</a></h3>
        </div>

        <br><hr><br>
    {% endfor %}
    <h2 class="tree-module"><a href="/create/add_module">Add Module</a></h2>

    {% include "tree_form.html" %}

    <script>
        function showMenu(id) {
            document.getElementById(id).style.display = "inline";
        }

        function hideMenu(id) {
            document.getElementById(id).style.display = "none";
        }

        function toggleMenu(id) {
            if (document.getElementById(id).style.display == "none") {
                document.getElementById(id).style.display = "block";
            } else {
                document.getElementById(id).style.display = "none";
            }
        }
    </script>

{% endblock %}