<div class="tree-form-div" id="form_div" style="display: none;">
    <h4 id="form_header">PENDING</h4>
    <form method="POST" class="tree-form" action="{{ url_for('create.edit_tree') }}">
        <input type="hidden" id="form_id" name="id">
        <input type="hidden" id="form_title" name="title">
        <input type="hidden" id="form_parent" name="parent_type">

        <div class="form-group">
            <label for="text">Point Text</label>
            <textarea name="text" id="text" class="form-control" placeholder="Enter the text..." required autofocus></textarea>
        </div>

        <div class="form-group">
            <label for="text">Hint</label>
            <input type="text" name="hint" id="hint" class="form-control" placeholder="Enter an optional hint...">
        </div>
       
        <div class="form-group" style="padding: 0px 15px;" style="display: flex;">
            <table style="width: 100%">
                <td style="width: 50%;">
                    <label style="padding-right: 15px;">Is there support for blank-fill? </label>
                    <input type="radio" name="blank_fill" value="No" checked id="blank_fill_no">
                    <label for="blank_fill_no" style="padding-right: 15px;">No</label>
                    <input type="radio" name="blank_fill" value="Yes" id="blank_fill_yes">
                    <label for="blank_fill_yes" style="padding-right: 15px;">Yes</label>
                </td>
                <td style="width: 50%;">
                <label style="padding-right: 15px;">Numeric Points for Children? </label>
                <input type="radio" name="numeric" value="No" id="numeric_no" checked>
                <label for="numeric_no" style="padding-right: 15px;">No</label>
                <input type="radio" name="numeric" id="numeric_yes" value="Yes">
                <label for="numeric_yes" style="padding-right: 15px;">Yes</label>
                </td>
            </table>
        </div>

        <div class="form-group" style="padding: 0px 15px;">
            <table style="width: 100%;">
                <td style="width: 50%;">
                    <label style="padding-right: 15px;">Should punctuation be examined? </label>
                    <input type="radio" name="punctuation" value="No" checked id="punctuation_no">
                    <label for="punctuation_no" style="padding-right: 15px;">No</label>
                    <input type="radio" name="punctuation" value="Yes" id="punctuation_yes">
                    <label for="punctuation_yes" style="padding-right: 15px;">Yes</label>
                </td>
                <td style="width: 50%;">
                    <label style="padding-right: 15px;">Does this contain code? </label>
                    <input type="radio" name="code" value="No" checked id="code_no">
                    <label for="code_no" style="padding-right: 15px;">No</label>
                    <input type="radio" name="code" value="Yes" id="code_yes">
                    <label for="code_yes" style="padding-right: 15px;">Yes</label>
                </td>
            </table>
        </div>
        <div style="display: flex;">
            <button class="btn btn-outline-danger" type="button" style="flex-grow: 1;" onclick="hideForm('add');">Exit Form</button>
            <button class="btn btn-outline-success" style="flex-grow: 1;" id="form_submit">PENDING</button>
        </div>
    </form>
</div>

<div class="tree-form-div" id="delete_form" style="display: none;">
    <h4 id="form_header">Delete Node</h4>
    <form method="POST" class="tree-form" style="text-align: center;" action="{{ url_for('create.edit_tree') }}">
        <input type="hidden" id="del_form_id" name="id">
        <input type="hidden" id="del_form_parent" name="parent_type">
        <input type="hidden" id="del_form_title" name="title" value="Delete">

        <p>
            Are you sure you want to delete this node?<br>
            This action is <b>irreversible</b> and will delete all of this node's children.
        </p>

        <div style="display: flex">
            <button class="btn btn-outline-danger" type="button" style="flex-grow: 1;" onclick="hideForm('delete');">Exit Form</button>
            <button class="btn btn-outline-primary" style="flex-grow: 1;" id="form_submit">Delete Node</button>
        </div>
    </form>
</div>

<script type="text/javascript">

    // Source: https://stackoverflow.com/questions/3369593/how-to-detect-escape-key-press
    document.body.addEventListener("keydown", function(e) {
        if (e.key == "Escape" && (document.getElementById("form_div").style.display == "block" || document.getElementById("delete_form").style.display == "none")) {
            hideForm();
        }
    })

    function hideForm(type) {
        // if (type == "add") 
            document.getElementById("form_div").style.display = "none";
        // else
            document.getElementById("delete_form").style.display = "none";
    }

    function showForm(id, title, parent_type) {

        if (title == "Delete") {
            document.getElementById("del_form_id").value = id;
            document.getElementById("del_form_parent").value = parent_type;
            document.getElementById("delete_form").style.display = "block";
        } else {
            document.getElementById("form_id").value = id;
            document.getElementById("form_title").value = title;
            document.getElementById("form_parent").value = parent_type;
            document.getElementById("form_header").innerText = title;
            document.getElementById("form_submit").innerText = title;
            document.getElementById("form_submit").setAttribute("onclick", "return checkBlankFill();");
            document.getElementById("form_div").style.display = "block";
            document.getElementById("text").focus()
        }
    }

    function checkBlankFill() {
        // When user submits form, check if '>|<' is included, but blank fill is not selected, and alert accordingly.
        if (document.getElementById("text").value.includes(">|<") && document.getElementById("blank_fill_no").checked) {
            if (confirm("Warning: You have included the blank-fill character, but not enabled blank fill.")) {
                return true;
            } else { 
                return false;
            }
        }

    }

</script>